/*
    WEBSITE CREATED BY JORDAN SCHULTE

        TWITTER - https://twitter.com/JordanMade
        GITHUB - https://github.com/JordanMade
        WEBSITE - https://JordanMade.github.io/
        PAYPAL - https://paypal.me/phoaxy

    WEBSITE CREATED BY JORDAN SCHULTE
*/

/*NAVBAR*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
}

body {
	background-color: #1d1e61;
}

.container-all {
	overflow-x: hidden;
	max-width: 100%;
}

nav {
	justify-content: space-around;
	display: flex;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.nav-links {
	display: flex;
}

.nav-links li {
	list-style-type: none;
	margin: 0px 20px;
	padding: 30px 0px;
}

.nav-links a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-family: "Sora", sans-serif;
	font-weight: bold;
}

.nav-links a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 30px;
	height: 2px;
	margin: 5px;
	background-color: snow;
	transition: all 0.3s ease;
}

@media screen and (max-width: 812px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		top: 6vh;
		background-color: #1d1e61;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		text-decoration: none;
		letter-spacing: 3px;
		transition: 0.2s;
		text-transform: uppercase;
		border-radius: 10px;
		padding: 0;
		display: none;
	}

	.nav-active {
		display: flex;
	}

	.nav-links li {
		opacity: 0;
		margin: 20px 0px;
		padding: 10px 10px;
	}

	.burger {
		display: block;
		margin: 30px 0px;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-4px, -6px);
}
/*BODY STYLES*/
.content-wrapper {
	background-image: linear-gradient(5deg, #1d1e61 70%, #f4f4f4 calc(70% + 2px));
}

.head-section {
	text-align: center;
}

.head-text {
	text-align: center;
	color: #1d1e61;
	padding-top: 75px;
}

.head-text h1 {
	font-size: 60pt;
	font-family: "Anton", sans-serif;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.head-text sub {
	font-size: 20pt;
	margin-top: 15px;
}

.btn-request {
	margin-top: 50px;
	padding: 12px 48px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-request:focus {
	outline: none;
}

.btn-request {
	border: none;
	border: 2px solid #1d1e61;
	color: white;
	margin-bottom: 55px;
	font-weight: bolder;
	transition: 0.3s;
	background-color: #1d1e61;
}

.btn-request:hover {
	background-color: rgb(214, 214, 214);
	color: #1d1e61;
	transition: 0.2s;
	font-weight: bolder;
	border-color: #1d1e61;
}

.title-container h1 {
	color: #1d1e61;
	font-size: 40pt;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.row {
	justify-content: center;
	display: inline-flex;
}

.graphic {
	margin: 20px 20px;
}

.grid {
	padding-bottom: 0px;
	text-align: center;
}

.graphic img {
	transition: 0.3s;
}

.graphic img:hover {
	transform: scale(1.1);
	transition: 0.3s all;
}

.view-more {
	margin: 50px 0px;
	padding: 12px 48px;
	border: 2px solid black;
	background-color: transparent;
	color: white;
	letter-spacing: 2px;
	font-weight: bolder;
}

.view-more:hover {
	border-color: white;
	cursor: pointer;
}

.view-more:focus {
	outline: none;
}

body {
	overflow-x: hidden;
	width: 100%;
}

.foot-section {
	background-color: #1d1e61;
}

.foot-section h1 {
	color: white;
	padding: 50px 0px;
	text-align: center;
}

.foot-section h2 {
	color: white;
	text-align: center;
}

.socialmedia {
	margin: 50px auto;
	font-size: 30pt;
	padding-bottom: 50px;
}

.copyright {
	margin: 50px 0px;
	color: white;
	text-align: center;
	font-size: 14pt;
}

.copyright a {
	color: black;
}

.copyright a:hover {
	color: white;
}

.fa-twitter,
.fa-instagram,
.fa-phone {
	color: white;
	transition: 0.2s;
	margin-right: 15px;
	margin-left: 15px;
}

.fa-twitter:hover,
.fa-instagram:hover,
.fa-phone:hover {
	transition: 0.2s;
}

.fa-twitter:hover {
	color: #d6d6d6;
	text-shadow: 0px 0px 18px #d6d6d6;
}

.fa-instagram:hover {
	color: #d6d6d6;
	text-shadow: 0px 0px 18px #d6d6d6;
}

.fa-phone:hover {
	color: #d6d6d6;
	text-shadow: 0px 0px 18px #d6d6d6;
}

@media (max-width: 812px) {
	.content-wrapper {
		background-image: linear-gradient(
			5deg,
			#1d1e61 80%,
			#f4f4f4 calc(80% + 2px)
		);
	}

	.title-container h1 {
		color: white;
	}

	.navbar-brand {
		margin: 10px 10px;
	}

	.navbar-toggler {
		margin: 0px 10px;
	}

	.navbar-toggler {
		border: 0px transparent !important;
	}

	.navbar-toggler:focus {
		outline: none;
	}

	.navbar-toggler-icon {
		background-image: url(https://i.ibb.co/pb9J1kQ/burger.png) !important;
	}

	.nav-link {
		margin: 0;
	}

	.head-text h1 {
		font-size: 45pt;
	}

	.head-text sub {
		font-size: 18pt;
	}

	.img-resize {
		width: 300px;
	}

	.copyright {
		text-align: center;
	}

	.navbar-nav {
		margin: 0;
	}

	.grid {
		display: inline;
	}

	.row {
		display: inline;
	}

	.foot-section h1 {
		margin: 0px 10px;
	}

	.mywork {
		color: #1d1e61 !important;
	}

	.container-all {
		overflow-x: hidden;
		max-width: 500px;
	}
}

@media (min-width: 2560px) {
	.title-container h1 {
		color: #1d1e61;
	}

	.row {
		display: flex;
	}
}
